/research export-ignore
/AGENTS.md export-ignore
/tests export-ignore
/tools export-ignore
/.github export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/composer.lock export-ignore
/pint.json export-ignore
